@model IEnumerable<IEXTrading.Models.Equity>

<h2>TopBuy</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Date
            </th>
            <th>
                Change Percent
            </th>
            <th>
                Change
            </th>
            <th>
                High
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.changePercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.high)
            </td>
        </tr>
        }
        <tr>
            <td>
                <a id="dbopt" asp-controller="Home" asp-action="SaveGainer"><img src="~/images/button_save-data.png" /></a>
            </td>
        </tr>
    </tbody>
</table>
<script>
    alertDbSave(@ViewBag.dbSuccessEquity);
</script>
